/* Sur toute la page */
body {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;}

/*En tête*/

/*photo du fond*/
header{
    background-image: url(../media/acceuil.jpg);
    background-position: center;
    background-size: cover;
    height: 750px;}

/*Logo de l'entreprise en haut droite*/
.logo {
    padding: 145px 0px 0px 1200px ;}

/*Slogan de l'entreprise*/
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
    background-color: white;
    opacity: 70%;
    margin: 241px 0px 0px 0px;}
/*Fin en-tête*/

/*Flip card*/

/*Conteneur a rabat*/
.flipcard {
    background-color: transparent;
    width: 865px;
    height: 865px;
    perspective: 1000px;}
    
 /*Position du conteneur cotés avant et arriere*/
.flipcardinner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;/*Modifie l'espace de coordonnées utilisé pour la mise en forme visuel*/
    transform-style: preserve-3d;/*Indique que les fils de l'élément ciblé doivent être positionnés dans l'espace tridimensionnel*/}
    
/* Permet de demander un retournement horizontal lorsque la souris passe le conteneur de la boite à rabat*/
.flipcard:hover/*Permet de spécifier l'apparence d'un élément au moment ou l'utilisateur le survole avec le pointeur*/ .flipcardinner {
    transform: rotateY(180deg);}
    
/* Positionnement de l'avant et de l'arriere */
.flipcardfront, .flipcardback {
    position: absolute;
    width: 100%;
    height: 100%;
    /* Indique si la face arriere d'un élément doit être visible lorsqu'elle est orienter vers l'utilisateur, dans ce cas si la face arriere n'est pas visible, la face avant est donc cacher*/
    backface-visibility: hidden;}
   
/* Style de l'arriere */
.flipcardback {
    background-color: rgb(206, 206, 206);
    color: white;
    transform: rotateY(180deg);}

/*Titre espace profesionelle*/
h2{
    display: flex;
    justify-content: center;
    font-size: 52px;
    color: gray;}

/*div contenant tout l'espace pro et le flipcard*/
.display{
    display: flex;}



/*div comprenant tout le form*/
.action {
    display: flex;
    justify-content: center;
    width: 720px;}

/*bordure qui comprend tout l'espace pro*/
.border{
border: gray 2px solid;
border-radius: 10px;
width: 800px; 
height: 820px;
margin: 20px;}

/*esapcepro*/
.espacepro{
    padding: 50px 0px 0px 0px;}

/*comprend tout le formulaire*/
form{
    width: 400px;}

/*comprend les mots email et mot de passe */
b{
    font-size: 50px;}

/*comprend les champs*/
input {
 width: 500px;
 height: 50px;
 margin: 40px 0px 40px 0px;}

/*button envoyez*/
button {
    width: 508px;
    height: 50px;}

/*DEUXIEME PAGE*/
/*Bonjour*/
.bonjour{
    margin: 200px 0px 0px 250px;
    font-size: 100px;
    color: gray;}

/*display des blocks carte*/
.displays{
    display: flex;
    justify-content: space-around;
    margin: 20px 0px 20px 0px;}

/*Alignement de l'image dans la card*/
.image{
    text-align: center;
    padding: 20px 20px 0px 20px;}

/*Bordure de la carte*/
.carte{
    border: 2px solid rgba( 0,0,0,0.125);
    border-radius: 50px;}

/*Alignement du texte*/
.texte{
    padding: 20px;
    text-align: center;}

h3{
    font-size: 80px;}

p{
    font-size: 40px;}